# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
registries:
  google:
    type: maven-repository
    url: "https://maven.google.com"
  maven-central:
    type: maven-repository
    url: "https://repo.maven.apache.org/maven2"
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: "/"
    registries:
      - google
      - maven-central
    schedule:
      interval: "daily"
